@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   @variants responsive {
      /* Hide scrollbar for IE, Edge, and Firefox */
      .no-scrollbar {
         -ms-overflow-style: none; /* IE and Edge */
         scrollbar-width: none; /* Firefox */
      }
   }
}

body::-webkit-scrollbar {
   width: 8px;

   border-radius: 10px;
}

body::-webkit-scrollbar-track {
   background: rgb(56, 56, 56);
}

body::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background: rgba(178, 178, 178, 0.947);
}

input[type="file"] {
   color: #b8b8b8;
}
