@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   @variants responsive {
      /* Hide scrollbar for IE, Edge, and Firefox */
      .no-scrollbar {
         -ms-overflow-style: none; /* IE and Edge */
         scrollbar-width: none; /* Firefox */
      }
   }
}

body::-webkit-scrollbar {
   width: 8px;

   border-radius: 10px;
}

body::-webkit-scrollbar-track {
   background: rgb(56, 56, 56);
}

body::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background: rgba(178, 178, 178, 0.947);
}

input[type="file"] {
   color: #b8b8b8;
}

.loader {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   display: inline-block;
   position: relative;
   border: 3px solid;
   border-color: #fff #fff transparent transparent;
   box-sizing: border-box;
   animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
   content: "";
   box-sizing: border-box;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   border: 3px solid;
   border-color: transparent transparent #ff3d00 #ff3d00;
   width: 90%;
   height: 90%;
   border-radius: 50%;
   box-sizing: border-box;
   animation: rotationBack 0.5s linear infinite;
   transform-origin: center center;
}
.loader::before {
   width: 15px;
   height: 15px;
   border-color: #fff #fff transparent transparent;
   animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
@keyframes rotationBack {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(-360deg);
   }
}
