@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
   width: 8px;

   border-radius: 10px;
}

body::-webkit-scrollbar-track {
   background: rgb(56, 56, 56);
}

body::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background: rgba(178, 178, 178, 0.947);
}

input[type="file"] {
   color: #b8b8b8;
}
